# List

In [80]:
#Creating a list
list= ["Virat", "Sachin", "Dhoni"]
list

['Virat', 'Sachin', 'Dhoni']

In [81]:
#creating list with duplicate value
list = ["Virat","Dhoni", "Dhoni", "Sachin"]
list

['Virat', 'Dhoni', 'Dhoni', 'Sachin']

## Performing operations on list

In [82]:
# Show List length

print(len(list))

4

In [83]:
# Adding multiple datatype values in list

list = ["Virat", 7, True, "Sachin"]
list

['Virat', 7, True, 'Sachin']

In [84]:
# Showing the type of list

print(type(list))

<class 'list'>

In [85]:
# Accessing list values
# Positive indexing

print(list[3])

Sachin

In [86]:
# Negative Indexing

print(list[-0])
print(list[-1])

Virat
Sachin

In [87]:
# Range of index

print(list[1:3])

[7, True]

In [88]:
# Changing value in list 

list = ["Lan", "Router", "Hotspot"]
list[1] = "Wifi"
list

['Lan', 'Wifi', 'Hotspot']

In [89]:
# Changing range of item values

list = ["Lan", "Router", "Wifi"]
list[0:1] = ["Hotspot", "Bandwidth"]
list

['Hotspot', 'Bandwidth', 'Router', 'Wifi']

In [90]:
# Add list item

# Append item in list

list.append("Phone")
print(list)

['Hotspot', 'Bandwidth', 'Router', 'Wifi', 'Phone']

In [91]:
# Insert item on a specific position

list.insert(1, "Dongle")
print(list)

['Hotspot', 'Dongle', 'Bandwidth', 'Router', 'Wifi', 'Phone']

In [92]:
# Extend list

list = ["wifi", "broadband", "dongle"]
list2 = ["router","lan"]
list.extend(list2)
print(list)

['wifi', 'broadband', 'dongle', 'router', 'lan']

In [93]:
# Removing List items

list.remove("wifi")
print(list)

['broadband', 'dongle', 'router', 'lan']

In [94]:
# Removing item from specified index

list.pop(2)
print(list)

['broadband', 'dongle', 'lan']

In [95]:
# Using del keyword to remove value from specified index

list = ["Lan", "Wifi", "Dongle", "Router"]
del list[2]
print(list)

['Lan', 'Wifi', 'Router']

In [96]:
# Using clear method

list.clear()
print(list)

[]

In [97]:
# Sorting list in Ascending order

list = ["Lan", "Wifi", "Dongle", "Router"]
list.sort()
print(list)

['Dongle', 'Lan', 'Router', 'Wifi']

In [98]:
# Sorting list in Descending order

list.sort(reverse = True)
print(list)

['Wifi', 'Router', 'Lan', 'Dongle']

In [99]:
# Reversing the below list

list = ["Lan", "Wifi", "Dongle", "Router"]
list.reverse()
print(list)

['Router', 'Dongle', 'Wifi', 'Lan']

In [100]:
# Copying a list 

list1 = list.copy()
print(list1)

['Router', 'Dongle', 'Wifi', 'Lan']

In [101]:
# Joining two Lists

In [102]:
list1 = ["Lan", "Wifi"]
list2 = [0,2]

list3 = list1 + list2
print(list3)

['Lan', 'Wifi', 0, 2]

In [103]:
# Using extend function to join two lists

list1 = ["Amar","Akhbar"]
list2 = ["Anthony"]
list1.extend(list2)
print(list1)

['Amar', 'Akhbar', 'Anthony']

In [104]:
#Counting the number of times value exixt in a list

list = [1,2,5,3,5,4,5,5,4,3,4,5,6,5,4,2,8,9]
print(list.count(5))

6

# Tuple

In [105]:
# Defining a tuple

tuple = ("Amy","Rose","Jacky")
print(tuple)

('Amy', 'Rose', 'Jacky')

In [106]:
# Defining Duplicate values in a tuple

tuple = ("Amy","Rose","Jacky", "Amy", "Rose")
print(tuple)

('Amy', 'Rose', 'Jacky', 'Amy', 'Rose')

In [107]:
# Defining multiple types of data in tuple

tuple = (1, "Amy", 2, "India")
print(tuple)

(1, 'Amy', 2, 'India')

## Performing operations on tuple

In [108]:
# Accessing tuple items using index 
# Positive indexing

print(tuple[3])

India

In [109]:
# Negative indexing

print(tuple[0])
print(tuple[-1])

1
India

In [110]:
# Length of tuple

print(len(tuple))

4

In [111]:
# Range of Positive Index

print(tuple[1:3])

('Amy', 2)

In [112]:
# Range of Negative Index

tuple = ("Amy","Rose","Jacky", "Amy", "Rose")
print(tuple[-3:-1])

('Jacky', 'Amy')

In [113]:
# Count function in tuple

tuple = ("Amy","Rose","Jacky", "Amy", "Rose")
t=tuple.count("Rose")
print(t)

2

# Sets

In [114]:
# Defining a set

Set = {"Pune", "Nashik", "Mumbai"}
print(Set)

{'Mumbai', 'Pune', 'Nashik'}

In [115]:
# Defining set in multiple datatypes 

S = {"Maharashtra","Bangalore", 12, 20, 30, "Jammu"}
print(S)

{20, 'Maharashtra', 'Bangalore', 'Jammu', 12, 30}

## Performing operations on set

In [116]:
# Getting the Length of set

S = {"Maharashtra","Bangalore", 12, 20, 30, "Jammu"}
print(len(S))

6

In [117]:
# Adding new items in set

S.add("Mangalore")
print(S)

{20, 'Maharashtra', 'Bangalore', 'Jammu', 12, 'Mangalore', 30}

In [118]:
# Adding new set values into exisiting set

S1 = {1,2,3,4,5,6}
S.update(S1)
print(S)

{1, 2, 3, 4, 5, 6, 'Jammu', 12, 'Mangalore', 20, 'Maharashtra', 'Bangalore', 30}

In [119]:
# Removing set item (If value is not present it will throw error)

S.remove("Mangalore")
print(S)

{1, 2, 3, 4, 5, 6, 'Jammu', 12, 20, 'Maharashtra', 'Bangalore', 30}

In [120]:
# Removing set item using Discard (If value is not present it will not throw error)

S.discard("Mangalore")
print(S)

{1, 2, 3, 4, 5, 6, 'Jammu', 12, 20, 'Maharashtra', 'Bangalore', 30}

In [121]:
# Removing random value using pop function

S2 = S.pop()
print(S)

{2, 3, 4, 5, 6, 'Jammu', 12, 20, 'Maharashtra', 'Bangalore', 30}

In [122]:
# Emptying the whole list

S1.clear()
print(S1)

set()

In [123]:
# Deleting the set

del S